body {
    background-color: aqua;
}
.txt {
    margin-left: 300px;
}
.i1 {
    margin-left: 500px;
}
.i2 {
    margin-left: 500px;
}
.i3 {
    margin-left: 500px;
}
.i4 {
    margin-left: 500px;
}
.i5 {
    margin-left: 500px;
}
